
:root {
    --main-green: #596d48;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#split-screen {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 2; 
    background: url('../Sign-up-Form/images/background fern.avif') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 25vh;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-container img {
    height: 120px;
}

.logo-text {
    color: white;
    font-size: 80px;
    font-family: 'Norse Bold', sans-serif;
    margin-left: 10px;
}

#caption {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
}

.right-side {
    flex: 3; 
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.top-section {
    padding: 100px 50px 40px 50px;
    font-size: 20px;
    font-weight: 500;
}

.form-section {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 30px 50px;
}

.form-section h3 {
    margin-top: 0;
    font-size: 24px;
}

.form-row {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 250px;
}

label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #444;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 5px rgba(0,0,255,0.1);
    outline: none;
}

.error-border {
    border: 1px solid red;
}

.footer-section {
    padding: 40px 50px;
}

button {
    background-color: var(--main-green);
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.footer-section a {
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
}